/src/_build
/src/db
/src/deps
/src/*.ez
/src/erl_crash.dump
/src/npm-debug.log
/src/assets/node_modules
/src/priv/static/
/src/mix.lock
/src/priv/dev.key
/src/priv/dev.crt
/.env
cover
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tags
